{% extends "base.html" %} {% block body %}
<div class='icontainer'>
    <div class='svg-container'><embed type="image/svg+xml" src={{g2|safe}} style="width:100%" /></div>
    <div class='svg-container'><embed type="image/svg+xml" src={{g3|safe}} style="width:100%" /></div>
    <div class='svg-container'><embed type="image/svg+xml" src={{g4|safe}} style="width:100%" /></div>
    <div class='svg-container'><embed type="image/svg+xml" src={{g1|safe}} style="width:100%" /></div>
</div>
{% endblock %}